In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
demo = pd.read_csv('respopagesexfa2022.csv')
demo

,PA,SZ,AG,Sex,FA,Pop,Time
0,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,<= 60,0,2022
1,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,>60 to 80,10,2022
2,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,>80 to 100,20,2022
3,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,>100 to 120,60,2022
4,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,>120,10,2022
...,...,...,...,...,...,...,...
75691,Yishun,Yishun West,90_and_over,Females,>60 to 80,40,2022
75692,Yishun,Yishun West,90_and_over,Females,>80 to 100,60,2022
75693,Yishun,Yishun West,90_and_over,Females,>100 to 120,30,2022
75694,Yishun,Yishun West,90_and_over,Females,>120,20,2022
75695,Yishun,Yishun West,90_and_over,Females,Not Available,30,2022

In [3]:
age_from_20_to_59 = (demo['AG'] == '20_to_24') | \
                    (demo['AG'] == '25_to_29') | \
                    (demo['AG'] == '30_to_34') | \
                    (demo['AG'] == '35_to_39') | \
                    (demo['AG'] == '40_to_44') | \
                    (demo['AG'] == '45_to_49') | \
                    (demo['AG'] == '50_to_54') | \
                    (demo['AG'] == '55_to_59')
demo_w_age_cond = demo.loc[age_from_20_to_59]
demo_w_age_cond

,PA,SZ,AG,Sex,FA,Pop,Time
48,Ang Mo Kio,Ang Mo Kio Town Centre,20_to_24,Males,<= 60,0,2022
49,Ang Mo Kio,Ang Mo Kio Town Centre,20_to_24,Males,>60 to 80,0,2022
50,Ang Mo Kio,Ang Mo Kio Town Centre,20_to_24,Males,>80 to 100,20,2022
51,Ang Mo Kio,Ang Mo Kio Town Centre,20_to_24,Males,>100 to 120,90,2022
52,Ang Mo Kio,Ang Mo Kio Town Centre,20_to_24,Males,>120,30,2022
...,...,...,...,...,...,...,...
75607,Yishun,Yishun West,55_to_59,Females,>60 to 80,800,2022
75608,Yishun,Yishun West,55_to_59,Females,>80 to 100,850,2022
75609,Yishun,Yishun West,55_to_59,Females,>100 to 120,300,2022
75610,Yishun,Yishun West,55_to_59,Females,>120,270,2022
75611,Yishun,Yishun West,55_to_59,Females,Not Available,0,2022

In [4]:
pd.options.mode.chained_assignment = None  # default='warn'
demo_w_age_cond.drop(['AG', 'Sex', 'FA', 'Time'], axis=1, inplace=True)
demo_w_age_cond

               PA                      SZ  Pop
48     Ang Mo Kio  Ang Mo Kio Town Centre    0
49     Ang Mo Kio  Ang Mo Kio Town Centre    0
50     Ang Mo Kio  Ang Mo Kio Town Centre   20
51     Ang Mo Kio  Ang Mo Kio Town Centre   90
52     Ang Mo Kio  Ang Mo Kio Town Centre   30
...           ...                     ...  ...
75607      Yishun             Yishun West  800
75608      Yishun             Yishun West  850
75609      Yishun             Yishun West  300
75610      Yishun             Yishun West  270
75611      Yishun             Yishun West    0

[31872 rows x 3 columns]

In [5]:
cleaned_age = demo_w_age_cond.groupby(['PA', 'SZ'], axis=0, as_index=False).sum()
cleaned_age

             PA                      SZ    Pop
0    Ang Mo Kio  Ang Mo Kio Town Centre   2820
1    Ang Mo Kio               Cheng San  14960
2    Ang Mo Kio              Chong Boon  13490
3    Ang Mo Kio             Kebun Bahru  11810
4    Ang Mo Kio         Sembawang Hills   3480
..          ...                     ...    ...
327      Yishun              Springleaf   2250
328      Yishun          Yishun Central   1850
329      Yishun             Yishun East  37190
330      Yishun            Yishun South  24250
331      Yishun             Yishun West  29990

[332 rows x 3 columns]

In [6]:
cleaned_age.sort_values('Pop', ascending=False, inplace=True)
cleaned_age.reset_index(drop=True, inplace=True)
cleaned_age

              PA                      SZ    Pop
0       Tampines           Tampines East  71260
1      Woodlands          Woodlands East  60760
2       Tampines           Tampines West  46230
3          Bedok             Bedok North  44320
4    Jurong West                  Yunnan  39840
..           ...                     ...    ...
327      Seletar  Seletar Aerospace Park      0
328      Seletar     Pulau Punggol Timor      0
329      Seletar     Pulau Punggol Barat      0
330       Rochor            Rochor Canal      0
331   Paya Lebar         Paya Lebar East      0

[332 rows x 3 columns]

In [7]:
cleaned_age.drop(cleaned_age[cleaned_age.Pop == 0].index, inplace=True)
cleaned_age

                  PA              SZ    Pop
0           Tampines   Tampines East  71260
1          Woodlands  Woodlands East  60760
2           Tampines   Tampines West  46230
3              Bedok     Bedok North  44320
4        Jurong West          Yunnan  39840
..               ...             ...    ...
229  Singapore River       Boat Quay     20
230           Rochor       Mackenzie     20
231           Rochor    Kampong Glam     10
232    Downtown Core       City Hall     10
233        Pasir Ris     Loyang West     10

[234 rows x 3 columns]

In [8]:
simplified_age = cleaned_age.groupby(by="PA").sum()
simplified_age.reset_index(inplace=True)
simplified_age

                         PA     Pop
0                Ang Mo Kio   85630
1                     Bedok  151220
2                    Bishan   46440
3               Bukit Batok   95070
4               Bukit Merah   79770
5             Bukit Panjang   79350
6               Bukit Timah   42220
7                    Changi     980
8             Choa Chu Kang  115530
9                  Clementi   50530
10            Downtown Core    2680
11                  Geylang   61000
12                  Hougang  128460
13              Jurong East   41780
14              Jurong West  151360
15                  Kallang   54870
16                   Mandai    1240
17            Marine Parade   24570
18                   Museum     370
19                   Newton    5060
20                   Novena   28070
21                  Orchard     410
22                   Outram    8800
23                Pasir Ris   88640
24                  Punggol  110450
25               Queenstown   52900
26             River Valley    6790
27                   Rochor    7230
28                  Seletar     160
29                Sembawang   65710
30                 Sengkang  149080
31                Serangoon   64290
32          Singapore River    2240
33         Southern Islands    1340
34             Sungei Kadut     370
35                 Tampines  150610
36                  Tanglin   12980
37                Toa Payoh   70030
38  Western Water Catchment     420
39                Woodlands  154080
40                   Yishun  128760

In [9]:
from geopy.geocoders import Nominatim

name = []
latitude = []
longitude = []
Pop = []

print('Processing...')

geolocator = Nominatim(user_agent="geolocator")
for index, row in simplified_age.iterrows():
    location = geolocator.geocode(row['PA'] + " Singapore")
    
    if location is None:
        location = geolocator.geocode(row['PA'])
        
    if location.latitude < 1.203139 or location.latitude > 1.478409:
        print(f"{str(index)}. {row['property_name']} has incorrect latitude")
        continue
    
    if location.longitude < 103.598186 or location.longitude > 104.049312:
        print(f"{str(index)}. {row['property_name']} has incorrect longitude")
        continue
        
    name.append(row['PA'])
    latitude.append(location.latitude)
    longitude.append(location.longitude)
    Pop.append(row['Pop'])

print(f'Processing complete, information from {str(len(latitude))} locations extracted.')

Processing...
Processing complete, information from 41 locations extracted.

In [10]:
processed_age = pd.DataFrame(list(zip(name, latitude, longitude, Pop)), columns=['Name', 'Lat', 'Lon', 'Pop'])
processed_age

                       Name       Lat         Lon     Pop
0                Ang Mo Kio  1.370080  103.849523   85630
1                     Bedok  1.323976  103.930216  151220
2                    Bishan  1.350986  103.848255   46440
3               Bukit Batok  1.349057  103.749591   95070
4               Bukit Merah  1.283736  103.820100   79770
5             Bukit Panjang  1.377917  103.763095   79350
6               Bukit Timah  1.354690  103.776372   42220
7                    Changi  1.353925  103.974697     980
8             Choa Chu Kang  1.385317  103.744325  115530
9                  Clementi  1.315100  103.765231   50530
10            Downtown Core  1.286242  103.853776    2680
11                  Geylang  1.318186  103.887056   61000
12                  Hougang  1.370801  103.892544  128460
13              Jurong East  1.333108  103.742294   41780
14              Jurong West  1.343439  103.705866  151360
15                  Kallang  1.310759  103.866262   54870
16                   Mandai  1.423535  103.803350    1240
17            Marine Parade  1.302689  103.907395   24570
18                   Museum  1.295656  103.846722     370
19                   Newton  1.313183  103.838040    5060
20                   Novena  1.320526  103.843881   28070
21                  Orchard  1.303121  103.831376     410
22                   Outram  1.281664  103.840653    8800
23                Pasir Ris  1.373031  103.949255   88640
24                  Punggol  1.405156  103.902368  110450
25               Queenstown  1.294623  103.806037   52900
26             River Valley  1.297683  103.834188    6790
27                   Rochor  1.303918  103.852789    7230
28                  Seletar  1.409849  103.877379     160
29                Sembawang  1.449093  103.820055   65710
30                 Sengkang  1.391924  103.895491  149080
31                Serangoon  1.349761  103.873684   64290
32          Singapore River  1.289178  103.845154    2240
33         Southern Islands  1.227609  103.843670    1340
34             Sungei Kadut  1.414997  103.753311     370
35                 Tampines  1.354653  103.943571  150610
36                  Tanglin  1.304205  103.818472   12980
37                Toa Payoh  1.335391  103.849741   70030
38  Western Water Catchment  1.348758  103.678431     420
39                Woodlands  1.436897  103.786216  154080
40                   Yishun  1.429384  103.835028  128760

In [11]:
processed_age['Name'] = processed_age['Name'].str.upper()
processed_age['Pop'] = processed_age['Pop'].astype(float)
processed_age

                       Name       Lat         Lon       Pop
0                ANG MO KIO  1.370080  103.849523   85630.0
1                     BEDOK  1.323976  103.930216  151220.0
2                    BISHAN  1.350986  103.848255   46440.0
3               BUKIT BATOK  1.349057  103.749591   95070.0
4               BUKIT MERAH  1.283736  103.820100   79770.0
5             BUKIT PANJANG  1.377917  103.763095   79350.0
6               BUKIT TIMAH  1.354690  103.776372   42220.0
7                    CHANGI  1.353925  103.974697     980.0
8             CHOA CHU KANG  1.385317  103.744325  115530.0
9                  CLEMENTI  1.315100  103.765231   50530.0
10            DOWNTOWN CORE  1.286242  103.853776    2680.0
11                  GEYLANG  1.318186  103.887056   61000.0
12                  HOUGANG  1.370801  103.892544  128460.0
13              JURONG EAST  1.333108  103.742294   41780.0
14              JURONG WEST  1.343439  103.705866  151360.0
15                  KALLANG  1.310759  103.866262   54870.0
16                   MANDAI  1.423535  103.803350    1240.0
17            MARINE PARADE  1.302689  103.907395   24570.0
18                   MUSEUM  1.295656  103.846722     370.0
19                   NEWTON  1.313183  103.838040    5060.0
20                   NOVENA  1.320526  103.843881   28070.0
21                  ORCHARD  1.303121  103.831376     410.0
22                   OUTRAM  1.281664  103.840653    8800.0
23                PASIR RIS  1.373031  103.949255   88640.0
24                  PUNGGOL  1.405156  103.902368  110450.0
25               QUEENSTOWN  1.294623  103.806037   52900.0
26             RIVER VALLEY  1.297683  103.834188    6790.0
27                   ROCHOR  1.303918  103.852789    7230.0
28                  SELETAR  1.409849  103.877379     160.0
29                SEMBAWANG  1.449093  103.820055   65710.0
30                 SENGKANG  1.391924  103.895491  149080.0
31                SERANGOON  1.349761  103.873684   64290.0
32          SINGAPORE RIVER  1.289178  103.845154    2240.0
33         SOUTHERN ISLANDS  1.227609  103.843670    1340.0
34             SUNGEI KADUT  1.414997  103.753311     370.0
35                 TAMPINES  1.354653  103.943571  150610.0
36                  TANGLIN  1.304205  103.818472   12980.0
37                TOA PAYOH  1.335391  103.849741   70030.0
38  WESTERN WATER CATCHMENT  1.348758  103.678431     420.0
39                WOODLANDS  1.436897  103.786216  154080.0
40                   YISHUN  1.429384  103.835028  128760.0

In [12]:
processed_age.to_csv('processed_age.csv')